altgraph==0.17.4
annotated-types==0.7.0
appdirs==1.4.4
babel==2.16.0
cx_Logging==3.2.0
darkdetect==0.8.0
et-xmlfile==1.1.0
git-changelog==2.5.2
greenlet==3.1.0
Jinja2==3.1.4
lief==0.15.1
MarkupSafe==2.1.5
-e git+https://github.com/dottorlink/new-certificazione-770.git@3c9987c19b96f82706c0189e65a3505211427ca8#egg=new_certificazione_770
numpy==2.1.1
openpyxl==3.1.5
packaging==24.1
pandas==2.2.3
pefile==2024.8.26
pydantic==2.9.2
pydantic_core==2.23.4
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32-ctypes==0.2.3
pywinstyles==1.8
semver==3.0.2
setuptools==75.1.0
six==1.16.0
SQLAlchemy==2.0.35
sqlmodel==0.0.22
sv-ttk==2.6.0
tkcalendar==1.6.1
typing_extensions==4.12.2
tzdata==2024.1
